services:
    traefik:
        image: traefik:v3.6
        networks:
            - frontend
        ports:
            - "80:80"
            - "443:443"
        command:
            - --api=false
            - --providers.swarm=true
            - --providers.swarm.exposedbydefault=false
            - --providers.swarm.network=frontend
            - --entrypoints.web.address=:80
            - --entrypoints.web.http.redirections.entrypoint.to=websecure
            - --entrypoints.web.http.redirections.entrypoint.scheme=https
            - --entrypoints.websecure.address=:443
            - --certificatesresolvers.letsencrypt.acme.httpchallenge=true
            - --certificatesresolvers.letsencrypt.acme.httpchallenge.entrypoint=web
            - --certificatesresolvers.letsencrypt.acme.email=yy@wakimae.com
            - --certificatesresolvers.letsencrypt.acme.storage=/letsencrypt/acme.json
            - --log.level=INFO
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock:ro
            - ./letsencrypt:/letsencrypt
        deploy:
            placement:
                constraints:
                    - node.role == manager

networks:
    frontend:
        external: true
